body {
    background-color: #b2aba9;
    text-align: center;

}
.container{
    background-color: #f2f2f2;
    justify-content: center;
    width: 50%;
    margin-top: 6%;
    margin-left: 29%;
    text-align: center;
    padding: 0.5em 0.5em;
}
input[type=text],select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inlline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password],select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}
.List-heading{
    color :rgb(15,14,14);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    background-color: cadetblue;
    width: 70%;
}
.listData{
    color:black;
    font-size: 20px;
    background-color: rgb(164, 203, 237);
    text-align: left;
    padding-left: 30px;
    width: 53%;
    padding-bottom: 2%;
    padding-top:2%;
    border-radius: 10px;
}