body {
    background-color: #b2aba9;
    text-align: center;

}
.container{
    background-color: #f2f2f2;
    justify-content: center;
    width: 50%;
    margin-top: 6%;
    margin-left: 29%;
    text-align: center;
}
input[type=text],select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inlline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password],select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}